<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="AccountServiceImplServiceSoapBinding" />
        <binding name="AllotmentServiceImplServiceSoapBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://85.133.186.11:8324/behdad/accountservice"
        binding="basicHttpBinding" bindingConfiguration="AccountServiceImplServiceSoapBinding"
        contract="AccountService.AccountService" name="AccountServiceImplPort" />
      <endpoint address="http://85.133.186.11:8324/behdad/allotmentservice"
        binding="basicHttpBinding" bindingConfiguration="AllotmentServiceImplServiceSoapBinding"
        contract="AllotmentService.AllotmentService" name="AllotmentServiceImplPort" />
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="UserName" value="1121765" />
    <add key="Password" value="1121765" />
  </appSettings>
</configuration>